<h1>Your messages:</h1>

<section class="container-fluid justify-content-center">
  <section class="column">
    <% @messages.each do |message| %>
      <section class="card message-<%=message.id%>">
        <%= link_to "View", user_message_path(current_user.id, message.id), class: "card-body" %>
        <p class="card-title">From: <%= message.user_from.username %></p>
        <p class="card-text">Header: <%= message.header %></p>
      </section>
    <% end %>
  </section>

</section>
